<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDocSach">
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityOne"
            android:exported="false" />
        <activity
            android:name=".CategoriesListActivity"
            android:exported="false" />
        <activity
            android:name=".PdfListActivity"
            android:exported="false" />
        <activity
            android:name=".PdfAddActivity"
            android:exported="false" />
        <activity
            android:name=".activity_Dashboard"
            android:exported="false" />
        <activity
            android:name=".CategoryAddActivity"
            android:exported="false" />
        <activity
            android:name=".loginadmin"
            android:exported="false" />
        <activity
            android:name=".UploadImageActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>